tests/06-alpha.flow.json
{
    "encodingVersion": {
        "majorVersion": 2,
        "minorVersion": 0
    },
    "maxTimerDrivenThreadCount": 10,
    "maxEventDrivenThreadCount": 5,
    "registries": [],
    "parameterContexts": [],
    "parameterProviders": [],
    "controllerServices": [
        {
            "identifier": "7f291dd2-71e7-3e56-8b5f-76d0fade0306",
            "instanceIdentifier": "c135c2ce-017e-1000-d88a-347b945f505f",
            "name": "StandardRestrictedSSLContextService",
            "comments": "",
            "type": "org.apache.nifi.ssl.StandardRestrictedSSLContextService",
            "bundle": {
                "group": "org.apache.nifi",
                "artifact": "nifi-ssl-context-service-nar",
                "version": "1.28.1"
            },
            "properties": {
                "Truststore Type": "JKS",
                "SSL Protocol": "TLS",
                "Keystore Type": "JKS",
                "Truststore Filename": "/opt/nifi/nifi-current/tls/truststore.jks",
                "Keystore Password": "enc{457e7d7b723a381222a3f955bdeeb34addc9c33547eafbfb7320123101fc15f730891ded21875f70}",
                "Truststore Password": "enc{d95948dd4d710b9d3a51fa9abb386bcd14d267fed444758e240dd54d7459174c7a57c9d5093ee1f8}",
                "Keystore Filename": "/opt/nifi/nifi-current/tls/keystore.jks"
            },
            "propertyDescriptors": {},
            "controllerServiceApis": [
                {
                    "type": "org.apache.nifi.ssl.SSLContextService",
                    "bundle": {
                        "group": "org.apache.nifi",
                        "artifact": "nifi-standard-services-api-nar",
                        "version": "1.28.1"
                    }
                },
                {
                    "type": "org.apache.nifi.ssl.RestrictedSSLContextService",
                    "bundle": {
                        "group": "org.apache.nifi",
                        "artifact": "nifi-standard-services-api-nar",
                        "version": "1.28.1"
                    }
                }
            ],
            "scheduledState": "ENABLED",
            "bulletinLevel": "WARN",
            "componentType": "CONTROLLER_SERVICE"
        }
    ],
    "reportingTasks": [
        {
            "identifier": "c131bf78-017e-1000-dbc1-a9b6b34a798b",
            "instanceIdentifier": "c131bf78-017e-1000-dbc1-a9b6b34a798b",
            "name": "SiteToSiteProvenanceReportingTask",
            "comments": "",
            "type": "org.apache.nifi.reporting.SiteToSiteProvenanceReportingTask",
            "bundle": {
                "group": "org.apache.nifi",
                "artifact": "nifi-site-to-site-reporting-nar",
                "version": "1.28.1"
            },
            "properties": {
                "Input Port Name": "ProvInput",
                "s2s-transport-protocol": "RAW",
                "Platform": "nifi",
                "Destination URL": "https://nifi.bravo.svc.cluster.local:8443/nifi",
                "include-null-values": "false",
                "SSL Context Service": "c135c2ce-017e-1000-d88a-347b945f505f",
                "Compress Events": "true",
                "Batch Size": "1000",
                "Communications Timeout": "30 secs",
                "start-position": "beginning-of-stream",
                "Instance URL": "http://${hostname(true)}:8080/nifi"
            },
            "propertyDescriptors": {},
            "scheduledState": "RUNNING",
            "schedulingPeriod": "5 sec",
            "schedulingStrategy": "TIMER_DRIVEN",
            "componentType": "REPORTING_TASK"
        }
    ],
    "templates": [],
    "rootGroup": {
        "identifier": "0577156e-9f00-3875-bd81-c72d73a1fb85",
        "instanceIdentifier": "85928fc5-336a-4a64-b887-6869cd41eda9",
        "name": "ALPHA",
        "comments": "",
        "position": {
            "x": 0.0,
            "y": 0.0
        },
        "processGroups": [],
        "remoteProcessGroups": [
            {
                "identifier": "a144ea1f-a059-32a3-8b0a-1ef108a34d2a",
                "instanceIdentifier": "c11f5fe0-017e-1000-2f63-a9a78031e0c0",
                "name": "BRAVO",
                "comments": "",
                "position": {
                    "x": 248.0,
                    "y": 208.0
                },
                "targetUri": "https://nifi.bravo.svc.cluster.local:8443/nifi",
                "targetUris": "https://nifi.bravo.svc.cluster.local:8443/nifi",
                "communicationsTimeout": "30 sec",
                "yieldDuration": "10 sec",
                "transportProtocol": "RAW",
                "proxyHost": "",
                "proxyUser": "",
                "inputPorts": [
                    {
                        "identifier": "67ea2c8e-9824-3d6b-a03c-cdbfafe7ced9",
                        "instanceIdentifier": "eccfb75d-417c-38d5-be12-cdffc1189223",
                        "name": "BravoInput",
                        "comments": "",
                        "remoteGroupId": "a144ea1f-a059-32a3-8b0a-1ef108a34d2a",
                        "concurrentlySchedulableTaskCount": 1,
                        "useCompression": false,
                        "batchSize": {},
                        "componentType": "REMOTE_INPUT_PORT",
                        "targetId": "c11a3c30-017e-1000-f2f0-17232c042b30",
                        "scheduledState": "RUNNING",
                        "groupIdentifier": "a144ea1f-a059-32a3-8b0a-1ef108a34d2a"
                    }
                ],
                "outputPorts": [],
                "componentType": "REMOTE_PROCESS_GROUP",
                "groupIdentifier": "0577156e-9f00-3875-bd81-c72d73a1fb85"
            }
        ],
        "processors": [
            {
                "identifier": "fc18decd-e88f-3237-9ddd-6040b5a1bbd2",
                "instanceIdentifier": "c1202f8e-017e-1000-a733-50c5cb8784b1",
                "name": "GenerateFlowFile",
                "comments": "",
                "position": {
                    "x": 264.0,
                    "y": -16.0
                },
                "type": "org.apache.nifi.processors.standard.GenerateFlowFile",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-standard-nar",
                    "version": "1.28.1"
                },
                "properties": {
                    "character-set": "UTF-8",
                    "File Size": "0B",
                    "Batch Size": "1",
                    "Unique FlowFiles": "false",
                    "Data Format": "Text"
                },
                "propertyDescriptors": {},
                "style": {},
                "schedulingPeriod": "1 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 0,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [],
                "scheduledState": "RUNNING",
                "retryCount": 10,
                "retriedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "0577156e-9f00-3875-bd81-c72d73a1fb85"
            }
        ],
        "inputPorts": [],
        "outputPorts": [],
        "connections": [
            {
                "identifier": "c029b085-4116-3a68-865c-c9b4e5369d4a",
                "instanceIdentifier": "c120776b-017e-1000-6cdc-3639cebe805e",
                "name": "",
                "source": {
                    "id": "fc18decd-e88f-3237-9ddd-6040b5a1bbd2",
                    "type": "PROCESSOR",
                    "groupId": "0577156e-9f00-3875-bd81-c72d73a1fb85",
                    "name": "GenerateFlowFile",
                    "comments": "",
                    "instanceIdentifier": "c1202f8e-017e-1000-a733-50c5cb8784b1"
                },
                "destination": {
                    "id": "67ea2c8e-9824-3d6b-a03c-cdbfafe7ced9",
                    "type": "REMOTE_INPUT_PORT",
                    "groupId": "a144ea1f-a059-32a3-8b0a-1ef108a34d2a",
                    "name": "BravoInput",
                    "comments": "",
                    "instanceIdentifier": "eccfb75d-417c-38d5-be12-cdffc1189223"
                },
                "labelIndex": 1,
                "zIndex": 0,
                "selectedRelationships": [
                    "success"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "0577156e-9f00-3875-bd81-c72d73a1fb85"
            }
        ],
        "labels": [],
        "funnels": [],
        "controllerServices": [],
        "variables": {},
        "defaultFlowFileExpiration": "0 sec",
        "defaultBackPressureObjectThreshold": 10000,
        "defaultBackPressureDataSizeThreshold": "1 GB",
        "flowFileConcurrency": "UNBOUNDED",
        "flowFileOutboundPolicy": "STREAM_WHEN_AVAILABLE",
        "componentType": "PROCESS_GROUP"
    }
}